.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 120px;
}

.nav-items{
    padding: 0px 30px;
}

.nav-items>ul{
    display: flex;
    position: relative;
    top: 20px;
    list-style: none;
}

.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
    font-size: 21px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    width: 243px;
    height: 350px;
    background-color: #f0f0f0;
    padding: 3px;
    margin: 8px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    width: 228px;
    height: 150px;
    margin: 5px;
    object-fit: cover;
}

.res-card h3,.res-card h4 {
    margin: 12px 2px;
    overflow-wrap: break-word;
    word-break: break-word;
}

/* 1:45:15 */